.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
}

.returnButton {
  padding: 8px 16px;
  background-color: rgb(18, 23, 223);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.startStop {
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  width: 24%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.start-stop {
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* timer.module.css */

.activitiesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
}

.activitySelected {
  background-color: #ff0000; /* Cambia el color de fondo al rojo cuando la actividad está seleccionada */
}

.confirmDialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  backdrop-filter: blur(5px);
}

.confirmDialog p {
  margin-bottom: 10px;
}

.dialogbtnContainer {
  display: flex;
  gap: 10px;
}
.confirmButton {
  padding: 8px 16px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cancelButton {
  padding: 8px 16px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}